<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<daabProviders>
		<daabProvider alias="SQLServer" assembly="GotDotNet.ApplicationBlocks.Data" type="GotDotNet.ApplicationBlocks.Data.SqlServer" />
		<daabProvider alias="Oracle" assembly="GotDotNet.ApplicationBlocks.Data" type="GotDotNet.ApplicationBlocks.Data.Oracle" />
		<daabProvider alias="OleDb" assembly="GotDotNet.ApplicationBlocks.Data" type="GotDotNet.ApplicationBlocks.Data.OleDb" />
		<daabProvider alias="Odbc" assembly="GotDotNet.ApplicationBlocks.Data" type="GotDotNet.ApplicationBlocks.Data.Odbc" />
	</daabProviders>-->
	<connectionStrings>
		<add name="DBHistorial"
			 connectionString="Data Source=MS0036;Initial Catalog=HistorialEjecucion;User ID=sa; Password=Drowssap12;" />
	</connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>